.keyword {
    padding: 20px;
}

.keyword .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyword .header .header__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.keyword .header .header__action>img {
    border-radius: 9px;
    padding: 9px;
    width: 65px;
    height: 38px;
    margin: 0 0 0 10px;
    background-color: #F2F5F7;
}

.keyword .header .header__action .header__btn {
    font-size: .9em;
}

.keyword .header .header__action .header__btn>span {
    margin: 0 0 0 5px;
    color: #ffffff;
}



.keyword .keyword__table {
    margin: 20px 0;
}

.keyword .keyword__table th {
    font-size: .9em;
    white-space: nowrap
}

.keyword .keyword__actions {
    margin: 20px 0;
}

.keyword .keyword__actions .filter {
    margin: 20px 0;
}

.keyword .keyword__actions .filter .filter__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 145px;
}

.keyword .keyword__actions .filter .filter__title img {
    margin: 0 0 0 5px;
    background: #F2F5F7;
    border-radius: 9px;
    padding: 9px;
    width: 35px;
    height: 35px;
}


.keyword .keyword__actions .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.keyword .keyword__chart-section {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    margin-top: 40px;
}

.keyword .keyword__chart-section .chart__header {
    padding: 10px;
    background: #FCFCFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyword .keyword__chart-section .chart__header .chart__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyword .keyword__chart-section .chart__header .chart__actions .chart__action {
    background-color: #F2F5F7;
    border-radius: 9px;
    padding: 10px;
    width: 35px;
    height: 35px;
    margin: 0 10px 0 0;
}

.keyword .keyword__chart-section .chart__header .chart__actions .chart__action.chart__action--save {
    border-radius: 9px;
    padding: 9px;
    width: 60px;
    height: 35px;
    margin: 0 20px 0 0;
}

.keyword .keyword__chart-section .chart__content {
    padding: 10px;
}

.keyword .keyword__chart-section .chart__content .chart__filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.keyword .keyword__chart-section .chart__content .chart__filters .filter {
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 150px;
    padding: 3px 2px;
    margin: 0 0 0 15px;
}

.keyword .keyword__chart-section .chart__content .chart__filters .filter .filter__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.keyword .keyword__chart-section .chart__content .chart__filters .filter .filter__color {
    padding: 2px;
    background-color: #7D7D7D;
    border-radius: 30px;
    position: absolute;
    height: 100%;
    width: 3px;
}

.keyword .keyword__chart-section .chart__content .chart__filters .filter .filter__title {
    margin: 0 7px;
}

.keyword .keyword__chart-section .chart__content .chart__filters .filter .filter__color.filter__color--green {
    background-color: #70D981;
}

.keyword .keyword__chart-section .chart__content .chart__filters .filter .filter__color.filter__color--blue {
    background-color: #283F79;
}

.keyword .keyword__chart-section .chart__content .chart__filters .filter .filter__color.filter__color--red {
    background-color: #C46F74;
}

.keyword .keyword__chart-section .chart__content .chart__chart {
    padding: 25px 10px;
}


.keywordModal .keywordModal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9em;
}

.keywordModal body {
    background-color: #ffffff;
}

.keywordModal body .rowbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.keywordModal body .rowbox input {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    font-size: .9em;
}

.keywordModal body .rowbox img {
    margin: 0 4px;
}

.keywordModal .report_container button {
    margin: 0;
}

.keywordModal .report_container button.btn-style *,
.keywordModal .report_container button.action__btn {
    font-size: .9em !important;
}

.keywordModal body .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.keywordModal body .action .action__btn img {
    margin-left: 10px;
}


.tagModal body{
    background-color: #ffffff;
}

.tagModal .tagModal__add {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #7D7D7D;
}

.tagModal .tagModal__input {
    text-align: right;
    font-size: .8em;
    padding-bottom: 5px;
    margin: 10px 0;
}

.tagModal .tagModal__input .tagModal__label {
    margin-bottom: 3px;
}

.tagModal .tagModal__input input {
    padding: 10px;
    width: 100%;
    border-bottom: 3px solid #0A65CD;;
}

.tagModal .tagModal__search {
    margin-top: 10px;
}

.tagModal .tagModal__search .search__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagModal .tagModal__search .search__input input{
    margin: 0 0 0 10px;
}

.tagModal .tagModal__search .result .result__item{
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    font-size: .9em;
    border: 1px solid #D9D9D9;
    color: #002145;
    background: #FCFCFB;
    margin: 12px 0;
    cursor: pointer;
}

.tagModal .tagModal__search .result .result__item:hover{
    border: 1px solid #0A65CD;
}

.tagModal .tagModal__search .result .result__item .result__count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7D7D7D;
}

.tagModal .tagModal__search .result .result__item .result__count .result__text{
    margin: 0 5px;
}
