.app {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: url("../img/vectorAccountOperations.svg");
    background-position: center;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    background-size: cover;
     overflow: hidden;

}
.h-10 {
    height: 2.5rem;
}