/* NAV MENU IN HEAD */
#nav-option-head {
      height: 15vh;
    /* padding: 0px 7vw; */
    /* padding: 0px 100px; */
    /* padding: 0px 10px; */
    
}

.container_nav_logo a {
    font-size: 14px;
}



.container_nav_logo div:hover {
    filter: saturate(25);
    cursor: pointer;

}

.container_nav_logo .logo_nav:first {
    padding: none !important;
}

.logo_nav {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 6px;
    background-repeat: no-repeat;
}

/* svg log nav option */
.option_segmento_logo {
    background-image: url(/../%PUBLIC_URL%/img/nav/option_segmento.svg);
}

.course_video_logo {
    background-image: url(/../%PUBLIC_URL%/img/nav/course_video.svg);
}

.diamond_price_logo {
    background-image: url(/../%PUBLIC_URL%/img/nav/diamond_price.svg);
}

.cookie_communicate_logo {
    background-image: url(/../%PUBLIC_URL%/img/nav/cookie_communicate.svg);
}