/* body{
    background-color: black;
} */

/* inside block #0AC7E2 */
#loading-container-segmento-logo{
    position: relative;
    width: 280px;
    height: 280px;
    background-color: rgb(255, 255, 255);
}

#loading-container-segmento-logo .segmento_logo_1{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40px;
    height: 280px;
    background-color: #0A65CD;
}
#loading-container-segmento-logo .segmento_logo_2{
    position: absolute;
    width: 280px;
    height: 40px;
    left: 0px;
    top: 0px;
    background-color: #0A65CD;
}
#loading-container-segmento-logo .segmento_logo_3{
    position: absolute;
    width: 40px;
    height: 120px;
    right: 0px;
    top: 0px;
    background-color: #0A65CD;
}
#loading-container-segmento-logo .segmento_logo_4{
    position: absolute;
    /* width: 0px; */
    height: 40px;
    right: 0px;
    bottom: 0px;
    background-color: #0AC7E2;
    animation: move_slide_down_logo 2s ease 0s infinite alternate;
}
#loading-container-segmento-logo .segmento_logo_5{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 0px;
    bottom: 0px;
    background-color: #0A65CD;
}
#loading-container-segmento-logo .segmento_logo_6{
    position: absolute;
    width: 0px;
    height: 40px;
    right: 80px;
    top: 80px;
    background-color: #0AC7E2;
    /* animation: move_slide_top_logo 2s ease 500ms forwards; */
    animation: move_slide_top_logo 2s ease 1s infinite alternate;
}
#loading-container-segmento-logo .segmento_logo_7{
    position: absolute;
    width: 0px;
    height: 40px;
    right: 0px;
    bottom: 80px;
    background-color: #0AC7E2;
    animation: move_slide_middle_logo 2s ease 500ms infinite alternate;
    /* animation: move_slide_middle_logo 2s ease 1s forwards; */
}
@keyframes move_slide_down_logo {
    from{width: 0px;}
    
    to{width: 120px;}
}
@keyframes move_slide_middle_logo {
    0%{width: 0px;}
    100%{width: 200px;}
}
@keyframes move_slide_top_logo {
    0%{width: 0px;}
    100%{width: 120px;}
}
