.app {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: url("./../img/vector.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 102px 0px 120px;
    overflow: hidden;

}