* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.app {
    padding: 0px !important;
}

#DASHBOARD {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #F5F7F7;
}

#DASHBOARD .nav_head {
    background-color: rgb(255, 255, 255);
    height: 65px;
    /* height: 6%; */
    width: 100%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

#DASHBOARD .body {
    display: flex;
    /* align-items: stretch; */
    flex-direction: row-reverse;
    position: relative;
    /* background-color: rgb(168, 82, 82); */
    /* background-color: #F5F7F7; */

    top: 6px;
    width: 100%;
    height: 100%;
    /* box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15); */
}

#DASHBOARD .main {
    background-color: #FFFFFF;
    height: 100%;
    flex-grow: 1;
    /* z-index: 1; */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin: 6px 8px 0px 8px;
    border-radius: 9px;
}

#DASHBOARD .list_hover {
    background-color: #FCFCFB;
    width: 256px;
    height: 100%;
    margin-top: 8px;
    border-radius: 9px 0px 0px 9px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

#DASHBOARD .nav_right {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 0px;
    background-color: #FCFCFB;
    box-shadow: 0px 4px 15px 0px #00000026;
    margin-top: 8px;
    width: 54px;
    /* height: 90%; */
    /* padding: 0px 12px; */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}


#DASHBOARD .nav_right .top div:hover  .testBack{
    background-color: #0A65CD !important;

}
#DASHBOARD .nav_right .top{
    position: relative;
}
#DASHBOARD .nav_right .top div{
    /* position: relative; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin: 28px 0px;
    z-index: 50;
    /* padding: 6px 9px; */
}
#DASHBOARD .nav_right .down{
 position: absolute;
 /* bottom: 31px; */
 bottom: 49px;
}
#DASHBOARD .nav_right .down div{

    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 18px 0px;
}

#DASHBOARD .nav_right .top div:first-child {
    margin-top: 16px !important;
}

#DASHBOARD .nav_right .scroller {
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 1px;
    width: 2px;
    height: 20px;
    z-index: 5px;
    background-color: #0A65CD;
    transition: all 4s ease-in-out;
}

#DASHBOARD .nav_right .testBack{
    /* position: absolute; */
    /* position: relative; */
    /* right: -9px; */
    /* top: -6px; */
    /* margin: auto; */
    width: 41px !important;
    height: 36px !important;
    border-radius: 3px;
    /* padding: 10px !important; */
    background-color: #f2f5f78c;
    z-index: 5 !important;

}
#DASHBOARD .nav_right .input_focus{
    /* box-sizing: border-box !important; */
    /* background-color: aquamarine; */
    /* box-sizing: border-box; */
    /* background: black; */
    /* background-size: 100% !important; */
    /* padding: 16px 8px !important; */
    /* background-color: #193547; */
}

#DASHBOARD .nav_right .top .dashboard {
    background-image: url(../img/dashboard/nav_right/dashboard.svg);
}
#DASHBOARD .nav_right .top .analyze {
    background-image: url(../img/dashboard/nav_right/analyze.svg);
}
#DASHBOARD .nav_right .top .news {
    background-image: url(../img/dashboard/nav_right/news.svg);
}

#DASHBOARD .nav_right .top .servise {
    background-image: url(../img/dashboard/nav_right/servise.svg);
}
#DASHBOARD .nav_right .top .youtub {
    background-image: url(../img/dashboard/nav_right/youtub.svg);
}

#DASHBOARD .nav_right .top .linkedin {
    background-image: url(../img/dashboard/nav_right/linkedin.svg);
}



#DASHBOARD .nav_right .down .support {
    background-image: url(../img/dashboard/nav_right/support.svg);
}

#DASHBOARD .nav_right .down .information {
    background-image: url(../img/dashboard/nav_right/information.svg);
}

#DASHBOARD .nav_right .down .line {
    width: 30px;
    height: 1px;
    background-color: #D3D5E2;
}

#DASHBOARD .nav_right .xaankoo_logo {
    /* width: 100%; */
    /* height: 44px; */
    overflow: hidden;
    width: 52px;
    height: 44px;
    margin-bottom: 11px;
    background-image: url(../img/dashboard/nav_right/xaankoo-logo.svg);
}

















