* {
	margin: 0px;
	padding: 0px;
}

/* .app {
	padding: 0px !important;
} */

#DASHBOARD {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #f5f7f7;
}




#DASHBOARD .list_hover {
	transition: left 2s 2s;
}


#DASHBOARD .nav_right .top div:hover .testBack {
	background-color: #0a65cd !important;
}

#DASHBOARD .nav_right .top div {
	cursor: pointer;
	/* position: relative; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	box-sizing: content-box;
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
	margin: 28px 0px;
	border-radius: 3px;
	z-index: 50;
	/* padding: 6px 9px; */
}

#DASHBOARD .nav_right .down {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	/* bottom: 31px; */
	bottom: 15px;
}

/* tooltip  */

#DASHBOARD .nav_right .down .dropDownBox {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


#DASHBOARD .nav_right .down .dropDownBox:hover .dropDownBox1 {
	display: flex;
}

#DASHBOARD .nav_right .down .dropDownBox:hover .dropDownBox2 {
	display: flex;
}

#DASHBOARD .nav_right .down .dropDownBox span:hover {
	background: rgba(10, 101, 205, 0.15);

}

#DASHBOARD .nav_right .down .dropDownBox span {
	width: 100%;
	padding: 5px 3px;
}

.right .tooltip {
	top: -20%;
	left: 115%;
}

.tooltip-right::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #ffffff;
}

#DASHBOARD .tooltip {
	position: absolute;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
	font-size: 10px;
	width: 64px;
	height: 37px;
	background-color: #ffffff;
	color: #002145;
	text-align: center;
	border-radius: 4px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	margin-left: -60px;

}

#DASHBOARD .tooltipTop::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.5em solid transparent;
	border-top-color: #ffffff;
	transform: translate(-50%, 0);
}

#DASHBOARD .nav_right .down .dropDownBox .support_dropDown {
	position: absolute;
	z-index: 5;
	width: 100px;
	height: 37px;
	display: none;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	/* tooltip */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
	font-size: 10px;
	top: 0;
	right: 45px;
}

#DASHBOARD .nav_right .down div {
	background-repeat: no-repeat;
	background-size: cover;
	margin: 6px 0px;
	cursor: pointer;
}

#DASHBOARD .nav_right .top div:first-child {
	margin-top: 30px !important;
}

#DASHBOARD .nav_right .scroller {
	position: absolute;
	top: 6px;
	right: 6px;
	border-radius: 1px;
	width: 2px;
	height: 20px;
	z-index: 5px;
	background-color: #0a65cd;
	transition: all 4s ease-in-out;
}

#DASHBOARD .nav_right .nav_right_box {
	padding: 3px 5px 3px 3px;
	/* z-index: 1; */
}

#DASHBOARD .nav_right .nav_right_box:hover {
	background-color: #f2f5f7 !important;
}

#DASHBOARD .nav_right .testBack {
	/* position: absolute; */
	/* position: relative; */
	/* right: -9px; */
	/* top: -6px; */
	/* margin: auto; */
	width: 41px !important;
	height: 36px !important;
	border-radius: 3px;
	/* padding: 10px !important; */
	background-color: #f2f5f78c;
	z-index: 5 !important;
}

#DASHBOARD .nav_right .input_focus {
	/* box-sizing: border-box !important; */
	/* background-color: aquamarine; */
	/* box-sizing: border-box; */
	/* background: black; */
	/* background-size: 100% !important; */
	/* padding: 16px 8px !important; */
	/* background-color: #193547; */
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	right: 0px;
	background-color: #fcfcfb;
	box-shadow: 0px 4px 15px 0px #00000026;
	margin-top: 8px;
	width: 54px;
	height: 100%;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

#DASHBOARD .nav_right .top div {
	background-repeat: no-repeat;
	background-size: cover;
	/* box-sizing: border-box; */
	width: 30px;
	height: 30px;
	/* padding: 28px 0px; */
	margin: 23px 0px;
}

#DASHBOARD .nav_right .top div:first {
	margin: 16px 0px !important;
}

#DASHBOARD .nav_right .top .scroller {
	position: absolute;
	width: 2px;
}

#DASHBOARD .nav_right .top .dashboard {
	background-image: url(../img/dashboard/nav_right/dashboard.svg);
}

#DASHBOARD .nav_right .top .analyze {
	background-image: url(../img/dashboard/nav_right/analyze.svg);
}

#DASHBOARD .nav_right .top .news {
	background-image: url(../img/dashboard/nav_right/news.svg);
}

#DASHBOARD .nav_right .top .servise {
	background-image: url(../img/dashboard/nav_right/servise.svg);
}

#DASHBOARD .nav_right .top .youtub {
	background-image: url(../img/dashboard/nav_right/youtub.svg);
}

#DASHBOARD .nav_right .top .linkedin {
	background-image: url(../img/dashboard/nav_right/linkedin.svg);
}

/* remove! */
#DASHBOARD .nav_right .down .support {
	background-image: url(../img/dashboard/nav_right/support.svg);
}

#DASHBOARD .nav_right .down .dropDownBox:hover .support {
	filter: saturate(11);
}

#DASHBOARD .nav_right .down .information {
	background-image: url(../img/dashboard/nav_right/information.svg);

}

#DASHBOARD .nav_right .down .dropDownBox:hover .information {
	filter: saturate(11);
}

#DASHBOARD .nav_right .down .line {
	width: 30px;
	height: 1px;
	background-color: #d3d5e2;
}

#DASHBOARD .nav_right .xaankoo_logo {
	/* width: 100%; */
	/* height: 44px; */
	background-image: url(../img/dashboard/nav_right/xaankoo-logo.svg);
}



#DASHBOARD .SidebarHoverBox:hover span {
	color: #0071ff;
}

#DASHBOARD .SidebarHoverBox:hover img {
	filter: saturate(11);
}

#DASHBOARD .ICONRIGHT:hover img {
	filter: saturate(11);
}
#DASHBOARD .ICONRIGHT:active img {
	filter: saturate(11);
}
#DASHBOARD .ICONRIGHT:focus img {
	filter: saturate(11);
}
#DASHBOARD .menuimage {
	background-image: url(../img/dashboard/header/menuicon.svg);

}

#DASHBOARD .Iconimage {
	background-image: url(../img/dashboard/header/segmento-logofa.svg);

}


#DASHBOARD .left_header_box {
	display: flex;
	align-items: center;
	gap: 49px;
}

#DASHBOARD .userProfBox {
	z-index: 10;
	position: relative;
	padding: 5px;
	background-color: white;
	width: 252px;
}


/* drop down */

#DASHBOARD .userProfBox:hover {
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14);
	border-radius: 3px;
	
	
}

#DASHBOARD .userHeaderProfInfo {
	background-color: white;
}

#DASHBOARD .userHeaderProfInfo {
	display: none;
}

#DASHBOARD .userProfBox:hover .userHeaderProfInfo {
	display: flex;
	right: 0;
	box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.14);
	border-top: 0px !important;
}


#DASHBOARD .notifNumber {
	padding: 1px;
}

/* easy start */

#DASHBOARD .EasyStartBoxContent {
	border-top: unset !important;
}

#DASHBOARD .EasyStartTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffce47;
	font-size: 18px;
	padding: 20px 0px;
	position: absolute;
	width: 100%;
	top: -20px;
	border-radius: 8px 8px 0px 0px;
	z-index: 2px;
}

#DASHBOARD .imageBox {
	display: flex;
	justify-content: left;
	position: relative;
	height: 100px;
}

/* #DASHBOARD .EasyStartBoxContent img {
	width: 160px;
	height: 160px;
	position: absolute;
	top: -30px;
	left: 40px;
} */

#DASHBOARD .EasyStartBoxContent button {
	width: 130px;
	margin: 0px 28px 28px 0px;
}

/* dashboard pop up */

#DASHBOARD .popUpContainer {
	background: #fafafa;
	/* dialog */
	box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.1876), 0px 2px 21px rgba(0, 0, 0, 0.1474);
	border-radius: 9px;
	Width: 384.92px;
	/* Height: 301.12px; */
}

#DASHBOARD .popUpContainer .popUpContent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 7px;
}

#DASHBOARD .popUpContainer .PopUpBox {
	border-radius: 9px;
	display: flex;
	justify-content: center;
}

#DASHBOARD .popUpContainer .title {
	font-size: 20px;
	/* margin-top: 13px; change */
}

#DASHBOARD .popUpContainer .buttonText {
	color: #0a65cd;
	margin: 40px 0px 14px 0px;
	cursor: pointer;
}

/* #DASHBOARD .EasyStartBoxContent img {
	width: 160px;
	height: 160px;
	position: absolute;
	top: -40px;
	left: 40px;
} */

#DASHBOARD .EasyStartBoxContent button {
	width: 130px;
	margin: 0px 28px 28px 0px;
}

/* scroller in table */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #FCFCFB;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: #D9D9D9;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #D9D9D9;
}

/* tab */
.tab_0+div {
	display: block;
}

.tab_1+div {
	display: block;
}

.tab_2+div {
	display: block;
}

.tab-3+div {
	display: block;
}

.tab-5+div {
	display: block;
}

.tab-6+div {
	display: block;
}

/* checkbox */
.checkbox {
	border-radius: 4px !important;
	background-color: #FCFCFB !important;
	border-color: #D9D9D9 !important;
}


/* table */
#TABLE .copyAllButton .imageIcon {
	background: url(../img/dashboard/table/content_copy.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#TABLE .copyAllButton:hover .imageIcon {
	background: url(../img/dashboard/table/content_copy_white.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#TABLE input:disabled {
	background-color: #D9D9D9 !important;
}

#TABLE .disableInput {
	background-color: #D9D9D9 !important;
	background: #D9D9D9 !important;
}

#TABLE .copyAllButtondisabled .imageIcon {
	background: url(../img/dashboard/table/content_copy_white.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#TABLE .tableRow .content_copy_blue {
	display: none;
	background: url(../img/dashboard/table/content_copy_blue.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

#TABLE .tableRow .content_copy_blue:active {
	background: url(../img/dashboard/table/content_copy_primary.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#TABLE .tableRow .content_copy_blue:checked {
	background: url(../img/dashboard/table/content_copy_primary.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#TABLE .tableRow:hover .content_copy_blue {
	display: block;
}

#TABLE button:disabled {
	background-color: #F2F5F7 !important;
}

#keyWordSearch .searchBox input:disabled {
	background-color: #D9D9D9;

}

#keyWordSearch .searchBox button:disabled {
	background-color: #D9D9D9 !important;
}

#keyWordSearch  .btnDisabled:disabled{
	border-right: 1px solid #7D7D7D !important;
}
.z-0 {
	z-index: 0 !important;
}