/* .modal{
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.7);
} */
/* .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
} */

.ReactModal__Overlay {
    background-color: rgba(217, 217, 217, 0.6) !important;
    z-index: 10;
    position: absolute !important;
}

.ReactModal__Content {
    box-sizing: border-box;
    width: 907px;
    /* height: 432px; */
    padding: 0px 10px !important;
    z-index: 10000000 !important;
    overflow: hidden !important;
}

.ReactModal__Content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    border-radius: 9px;
    margin: 10px 0px;
    border: 1px solid #f2f5f7;
    padding: 0px 18px 0px 14px;
}

.ReactModal__Content body {
    box-sizing: border-box;
    /* height: 408px; */
    width: 100%;
    border-radius: 9px;
    border: 1px solid #f2f5f7;
    padding: 18px;
}

.ReactModal__Content footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border-radius: 9px;
    margin: 10px 0px;
}

/* head modal css */
.ReactModal__Content header .info {
    position: relative;
    display: inline-block;
    height: 15px;
    width: 15px;
    top: 3.5px;
    right: 12px;
    background-image: url(../img/modal/head/info.svg);
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.ReactModal__Content header .close_modal_ico {
    display: inline-block;
    height: 8px;
    width: 8px;
    background-image: url(../img/modal/head/closeModal.svg);
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.ReactModal__Content header .close_suport_container {
    display: flex;
    align-items: center;
}

.ReactModal__Content header .close_suport_container button {
    margin-left: 10px;
}

/* body modal css */
.ReactModal__Content body .text_information {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #083c78;
}

.ReactModal__Content body .main_contnt_modal {
    margin-top: -19px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ReactModal__Content body .ul_text_container ul {
    display: inline-block;
}

.ReactModal__Content body .ul_text_container ul:last-of-type {
    display: inline-block;
    margin-right: 117px;
}

.ReactModal__Content body .ul_text_container ul li {
    display: list-item !important;
    font-size: 18px;
    /* padding-right: 21px; */
    background: url(../img/modal/body/discList.svg) no-repeat right;
    list-style-type: none;
    color: #083c78;
    /* padding-bottom: 18px; */
    padding: 18px 21px;
}

.ReactModal__Content body .input-wrapper {
    width: 100%;
}

/* container input step 2 */

.ReactModal__Content body .container_input_step2 {
    display: flex;
}

.ReactModal__Content body .container_input_step2:nth-of-type(2) {
    margin-bottom: 33px;
}

.ReactModal__Content body .container_input_step3 .input-wrapper:nth-of-type(1) {
    margin-bottom: 33px;
}

.ReactModal__Content body .container_input_step2 .arrpw {
    width: 20px;
    height: 20px;
    padding: 12.5px 3px;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-image: url(../img/modal/body/arrow.svg); */
}

.ReactModal__Content body .container_input_step2 .input-wrapper {
    flex-grow: 1;
}

.ReactModal__Content .plans_body_container {
    border: none;
}

/* .ReactModal__Content .plans_body_container div:nth-child(1) {
    display: flex;
} */

.ReactModal__Content .plans_body_container .plan_cards_container {
    display: flex;
    justify-content: space-between;
}

.ReactModal__Content .plans_body_container .plan_card {
    width: 200px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    background: white;
    padding: 13px 8px 20px 8px;
    text-align: center;
    transition: all 1s ease;
}

.ReactModal__Content .plans_body_container .plan_card .input_apply_token_container {
    position: relative;
}

.ReactModal__Content .plans_body_container .plan_card .apply_token_ico {
    position: absolute;
    background-image: url(../img/modal/body/arrow_apply_token.svg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 14px;
    left: 17px;
    top: 15px;
    transition: all 5s ease;
}

.ReactModal__Content .plans_body_container .plan_card::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(0deg, rgba(10, 101, 205, 0.8) 5%, rgba(125, 125, 125, 0.15) 50%);
    content: "";
    z-index: -1;
    border-radius: 10px;
}

.ReactModal__Content .plans_body_container .plan_card:hover {
    box-shadow: 0px 8px 16px 0px #00000024;
}

/* title color gold plan */
.ReactModal__Content .plans_body_container .gold .title {
    color: #ffce47;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 0px;
}

.ReactModal__Content .plans_body_container .gold hr {
    border: 1px solid #ffce47;
    width: 100%;
    margin: 23px 0px 13px 0px;
}

/* title color silver plan */
.ReactModal__Content .plans_body_container .silver {
    margin: 0px 39px;
}

.ReactModal__Content .plans_body_container .silver .title {
    color: #7d7d7d;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 0px;
}

.ReactModal__Content .plans_body_container .silver hr {
    border: 1px solid #7d7d7d;
    width: 100%;
    margin: 23px 0px 13px 0px;
}

/* title color bronze plan */
.ReactModal__Content .plans_body_container .bronze .title {
    color: #bf8970;
    font-size: 20px;
    font-weight: 700;
    padding: 13px 0px;
}

.ReactModal__Content .plans_body_container .bronze hr {
    border: 1px solid #bf8970;
    width: 100%;
    margin: 23px 0px 13px 0px;
}

.ReactModal__Content .plans_body_container .plan .container_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /* width: 100%; */
    height: 40px;
    padding: 11px 8px;
    border: 1px solid #f2f5f7;
    border-radius: 3px;
    color: #7d7d7d;
    margin-bottom: 7px;
    cursor: pointer;
}

.ReactModal__Content .plans_body_container .plan .container_row p {
    font-size: 14px;
}

.ReactModal__Content .plans_body_container .plan .container_row span {
    font-size: 8px;
}

.ReactModal__Content .plans_body_container .plan div div {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: space-between; */
}

.ReactModal__Content .plans_body_container .plan .style_selected_plan {
    border: 1px solid rgba(125, 125, 125, 1) !important;
}

.ReactModal__Content .plans_body_container .plan .style_selected_plan .off_price {
    color: rgba(10, 101, 205, 1);
}

.ReactModal__Content .plans_body_container .plan div input:checked+p {
    color: rgba(10, 101, 205, 1);
}

.ReactModal__Content .plans_body_container .plan .selectPlanTag {
    display: none;
}

.ReactModal__Content .plans_body_container .plan .selectPlanTag {
    display: none;
}

/* .ReactModal__Content .plans_body_container .plan div p {
    display: flex;
    align-items: center;
} */

/* .ReactModal__Content .plans_body_container .plan div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
} */

/* .ReactModal__Content .plans_body_container .plan div .circle {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #00000006;
    border: 1px solid #00000072;
    margin-left: 8px;
}
.ReactModal__Content .plans_body_container .plan div input:checked  .circle {
background-color: #083C78;
} */

/* .form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  } */

/* .form-control + .form-control {
    margin-top: 1em;
  }
  
  .form-control:focus-within {
    color: var(--form-control-color);
  } */

input[type="radio"] {
    box-sizing: border-box;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    /* background-color: var(--form-background); */
    /* background-color: blue; */
    /* Not removed via appearance */
    /* margin: 0; */
    width: 18px;
    height: 18px;
    /* font: inherit; */
    /* color: red; */
    /* width: 1.15em; */
    /* height: 1.15em; */
    /* border: 1px solid currentColor; */
    border-radius: 50%;
    /* transform: translateY(-0.075em); */
    margin-left: 8px;
    background: rgba(0, 0, 0, 0.0241);
    border: 1px solid rgba(0, 0, 0, 0.4458);
    /* display: grid; */
    /* place-content: center; */
    z-index: 100000;
}

input[type="radio"]:checked {
    border: 3px solid rgba(10, 101, 205, 1);

    /* outline: 3px solid rgba(10, 101, 205, 1); */
}

/* input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    
    background-color: CanvasText;
  } */

input[type="radio"]:checked::before {
    /* transform: scale(1); */
}

/* input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  } */

.ReactModal__Content .plans_body_container .plan div .off_price {
    font-size: 10px;
    font-weight: 400;
    color: #7d7d7d;
}

.ReactModal__Content .plans_body_container .price {
    width: 100%;
    height: 40px;
    margin: 36px 0px 24px 0px;
    background-color: #f2f5f7;
    border-radius: 3px;
}

.ReactModal__Content .plans_body_container .price p {
    /* box-sizing: border-box; */
    font-size: 14px;
    font-weight: 400;
    color: #7d7d7d;
    padding: 11px 0px;
}

.ReactModal__Content .plans_body_container .price p {
    font-size: 14px;
    font-weight: 400;
    color: #7d7d7d;
}

/* footer modal css */
.ReactModal__Content footer .back_ico {
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(../img/modal/footer/moveBack.svg);
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.ReactModal__Content footer .forward-ico {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 14px;
    background-image: url(../img/modal/footer/moveForward.svg);
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.ReactModal__Content footer .forward-14_free_ico {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 14px;
    background-image: url(../img/modal/footer/arrow_14_free.svg);
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

/* modal step 5 price type*/

.report_container .report {
    box-sizing: border-box;
    width: 340px;
    /* height: 284px; */
    border-radius: 9px;
    border: 1px solid rgba(211, 213, 226, 1);
    margin: auto;
    /* background-color: #7d7d7d; */
    margin-top: 70px;
    padding: 20px 5px 5px 5px;
}

.report_container .report div {
    width: 100%;
    text-align: center;
    margin-bottom: 18px;
}

.report_container .report span {
    display: inline-block;
    width: 40%;
    font-size: 14px;
    color: rgba(8, 60, 120, 1);
}

.report_container .report span:first-of-type {
    margin-left: 24px;
    text-align: left;
}

.report_container .report span:last-of-type {
    text-align: right;
}

.report_container .report .title span:last-of-type {
    color: rgba(255, 206, 71, 1);
    font-size: 20px !important;
    font-weight: 700;
}

.report_container .report .date span:last-of-type {
    /* font-size: 20px !important; */
    font-weight: 700;
}

.report_container .report .final_price {
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(211, 213, 226, 1);
    border-radius: 0px 0px 9px 9px;
    margin: 0px;
}

.report_container button {
    margin: auto;
    margin-top: 18px;
}

/* report css */
.final_report_container {
    /* padding: 0px 10px; */
}

.final_report_container .popup {
    box-sizing: border-box;
    width: 100%;
    /* height: 85px; */
    border-radius: 9px;
    border: 1px solid rgba(125, 125, 125, 1);
    font-size: 14px;
    font-weight: 400;
}

.final_report_container .popup .title_popup {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background-color: rgba(16, 204, 174, 1);
    text-align: center;
    color: white;
    padding: 4px 0px 2px 0px;
    border-radius: 8px 8px 0px 0px;
}

.final_report_container .popup .main_popup {
    text-align: center;
    color: rgba(0, 33, 69, 1);
    padding: 15px 0px;
}

.final_report_container p:nth-of-type(1) {
    margin-top: 23px;
    line-height: 24.18px;
    width: 100%;
    padding: 0px 7px;
    font-size: 14px;
    color: rgba(8, 60, 120, 1);
}

.final_report_container .support_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 14px;
    text-align: center;
}

.final_report_container .support_container p {
    width: 100%;
    color: rgba(8, 60, 120, 1);
    text-align: center;
    font-size: 14px;
    font-weight: 700;

}

.final_report_container .support_container button {
    margin-top: 18px;
}

.final_report_container .support_container img {
    width: 250px;
    height: 250px;
    margin-top: 31px;
}



/* free plan modal step 5 */

.plan_list_option  {
    border: none !important;
    padding: 0px 0px 56px 0px !important;
}
.plan_list_option .header p {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 8px;
    font-size: 14px;
    color: #083C78;
}

.plan_list_option .plan_card_list_option {
    width: 467px;
    /* height: 405px; */
    border-radius: 9px;
    border: 1px solid rgba(242, 245, 247, 1);
    /* padding: 0px 18px; */
    margin: auto;
    margin-top: 51px;
}

.plan_list_option .plan_card_list_option .title {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    /* height: 54px; */
    color: rgba(0, 33, 69, 1);
    font-size: 18px;
    text-align: center;
    padding: 12px 0px;
    background-color: rgba(255, 206, 71, 1);
}

.plan_list_option .plan_card_list_option .list_option {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 17px;
    text-align: right;
}

.plan_list_option .plan_card_list_option .list_option p {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: #002145;
    padding: 13px 0px;

}

.plan_list_option .plan_card_list_option .list_option span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #D3D5E2;
    margin-left: 13px;
    /* margin-left: 200px; */
}

.plan_list_option .plan_card_list_option .list_option hr {
    /* background-color: #1327a7; */
    border: 1px solid #D3D5E2
}

.plan_list_option .btn_read_policy_container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.plan_list_option .btn_read_policy_container div {
    width: 467px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px auto;
    /* margin: auto;
}
.plan_list_option .btn_read_policy_container  button{
    display: inline-block;
    /* margin: auto; */
    /* position: absolute; */
    /* left: 0px; */
    /* float: left; */
}

.plan_list_option .btn_read_policy_container p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 400;
    color: #083C78;
    padding: 8px 0px;
    float: right;
    /* display: inline-block; */
}

.plan_list_option .btn_read_policy_container p input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: black;
    margin-left: 7px;
}