/* DEFAULT BTN STYLE*/
.btn-style * {
  font-size: 14px !important;
  color: white;
}

.btn-style {
  background: rgba(10, 101, 205, 1) !important;
  font-size: 14px !important;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 20px;
  height: 40px;
  /* transition: background 0.08s ease-in-out; */
  transition: background 0.5s ease-in-out;
}
.btn-style:disabled { 
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(211, 213, 226, 1) !important;
  cursor: default !important;
}

.btn-style:disabled:hover {
  background-color: rgba(211, 213, 226, 1) !important;
}
.btn-style:disabled:active {
  background-color: rgba(211, 213, 226, 1) !important;
}




/* .changing_padding_down{
  animation: changingPaddingSizeToDown 1s ease-out alternate;
}

@keyframes changingPaddingSizeToDown {
    from{padding: 9px 20px ;}
    to{padding: 9px 0px ;}
}
.changing_padding_up{
  animation: changingPaddingSizeToUp 1s ease-out alternate;
}

@keyframes changingPaddingSizeToUp {
  from{padding: 9px 0px ;}
  to{padding: 9px 20px ;}
} */








.btn-delete *{
  color: #F35242B2;
}
.btn-delete {
  background: #F3524226 !important;
  font-size: 14px !important;
  color: #F35242B2;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 20px;
  /* transition: background 0.08s ease-in-out; */
  transition: background 0.5s ease-in-out;
}

.table-border{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.btn-style:hover {
  background: #0ac7e2 !important;
  /* transform: translate3d(10px,25px,0px); */
  /* cursor: pointer; */
}



.btn-style:active {
  background-color: #009fb9 !important;
  color: white;
}
.btn-style:active * {
  color: white;
}
.input_defult_style {}

/* .input_verify_email_cod_container .input-wrapper input{
  width: 50px ;
  height: 50px;
margin: 0px 20px;
} */
.verify_cod_container .input-wrapper {
  margin: 0px 10px;
}

.verify_cod_container .input-wrapper {
  margin: 0px 10px;
}

.verify_cod_container .input-wrapper:first-child {
  margin-right: 0px !important;
}


.btn_complete {
  background-color: #009FB9;
}

.third-btn {
  color: #0A65CD !important;
  font-size: 14px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.third-btn:hover {
  color: #0AC7E2 !important;
  cursor: pointer;
}



.btn-secondary *{
  color: #488CDA;
}

.btn-secondary {
  background-color: #F2F5F7;
  font-size: 14px !important;
  color: #488CDA;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  /* transition: all 0.08s ease-in-out; */
  transition: background 0.5s ease-in-out;
}

.btn-secondary:hover {
  background-color: #0A65CD;
  color: white;
}

.btn-secondary:hover * {
  color: white;
}

.btn-secondary:hover img{
  filter: brightness(0) invert(1);
}

.btn-secondary:active {
  background-color: #0B4B94;
  color: white;
}

.btn-secondary:active *{
  color: white;
}

.btn-secondary:active *{
  color: white;
}

/* select {
  padding-left: 2rem;
  background-position-x: 244px;
  background-size: 50px !important;
}

select {
  cursor: pointer;
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
}

*/
/* checkbox */
/* .checkbox {
	border-radius: 4px !important;
	background-color: #FCFCFB !important;
	border-color: #D9D9D9 !important;
  accent-color:#0A65CD !important ;
  
}
.checkbox:hover {
  border: #0A65CD !important;
}
input[type=checkbox]{
  accent-color:#0A65CD !important ;
} */


/* change logo color after the hover */
.logoLighting{
  filter: saturate(20);
}

.removingImageColorInThisTag:hover img{
  filter: brightness(0) invert(1) !important;
}