@import url(./dashboard.css);
@import url(./nav.css);
@import url(./elements.css);
@import url(./app.css);
@import url(./animation.css);
@import url(./forgotPassword/inputDisable.css);
@import url(./error/spanCheckInput.css);
@import url(./modal.css);
@import url(./workSpace.css);
@import url(./dashboard/byplanSection.css);
@import url(./loading.css);
@import url(./DashboaedComponents.css);
@import url(./responsive/mainLayOut.css);


.polygone_line_style {
  /* background-color: red; */
}

.polygone_line_style1 {
  position: absolute;
  width: 375px;
  height: 500px;
  right: 250px;
  top: 200px;
  stroke: #D9D9D9;
  stroke-width: 1px;
}

.polygone_parent svg {

  height: 399px;
  width: 375px;
  overflow: visible;
}

.r--poly-polygon {
  display: none;
}

/* change default toolTip style */
.Toastify__toast-container {
  z-index: 100000000 !important;
}

/* change default toolTip style */
.__react_component_tooltip {
  font-size: 10px !important;
  opacity: 1 !important;
  box-shadow: 0px 4px 8px 0px rgb(0, 0, 0, 0.14);
}

/* Animation for the photo of the sun on the login page */
.rotate_sun {
  animation: animation_rotate_sun 2s ease-in-out infinite alternate;
}

@keyframes animation_rotate_sun {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    opacity: .4;
  }

  100% {
    transform: rotate(15deg);
    opacity: 1;
  }
}


/* Animation for the photo of the balloon on the plan status page */
/* 22min */
.discountBoxBallonAnimation {
  animation: animation_position_balloon 3s ease-in-out infinite alternate;
}

@keyframes animation_position_balloon {
  0% {
    transform: translateY(0%);
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateY(-25%);
    opacity: .7;
  }
}

.sizeClass {
  font-size: 12px !important;
  opacity: 1 !important;
}