.static_text_input{

    border: 1px solid #d3d5e2;
    border-radius: 3px;
}
.static_text_input .input-static{
    border: 0px !important;
    padding-left: 0px !important;
}
.static_text_input p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #555;
    outline: none;
    padding: 0px 0px 0px 10px;
    height: 45px;
    position: relative;
    box-sizing: border-box;
    direction: ltr !important;
}