.input-wrapper {
    position: relative;
    line-height: 14px;
    margin: 0 10px;
    display: inline-block;
  }
  label {
    color: #001F43;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 14px;
    padding: 0 2px;
    pointer-events: none;
    -webkit-transition: -webkit-transform 100ms ease;
    -moz-transition: -moz-transform 100ms ease;
    -o-transition: -o-transform 100ms ease;
    -ms-transition: -ms-transform 100ms ease;
    transition: transform 100ms ease;
    -webkit-transform: translateY(-35px);
    -moz-transform: translateY(-35px);
    -o-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px);
  }
  .imageInputIcon{
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
  }
 .imageInputIcon2{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  input {
    font-size: 13px;
    color: #555;
    outline: none;
    border: 1px solid #D3D5E2;
    padding: 0px 10px;
    height: 45px;
    border-radius: 3px;
    position: relative;
  }
  input:invalid + label {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  input:focus {
   
       border-bottom: 3px solid #0A65CD;
  }
  input:focus + label {
       -webkit-transform: translateY(-35px);
    -moz-transform: translateY(-35px);
    -o-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px);
  }
 
  .notCheckValue{
    border-bottom: 3px solid #0F7B0F !important;
    font-size: 20px;
    text-align: center;
  }
  