ul{
    display: flex;
    gap: 1.5rem;
    
}
li{
    display: flex;
    gap: 0.5rem;
    color: #063468;
    padding: 0px 5px;
}
li:hover{
       filter: saturate(25);
       cursor: pointer;
}
.emkanatIcon{
    background-image: url("../../../public/img/emkanatIcons.png");
}
.videoIcon{
    background-image: url("../../../public/img/videoIcon.png")
}
.gheimatIcon{
    background-image: url("../../../public/img/gheimatIcon.png")
}
.workwithusIcon{
    background-image: url("../../../public/img/workwithusIcon.png")
}