.navBar .active::after {
    background: #0a65cd;
    width: 28px;
    height: 2px;
    content: "";
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: calc((100% - 28px) / 2);
    border-radius: 10px;
  }
  .navBar .active {
    position: relative;
    color: #0a65cd !important;
  }
  
  .customCard__tag {
    background-color: #f2f5f7;
    border-radius: 9px;
    width: 72px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .customCard.active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
    border-color: transparent;
  }
  .customCard {
    position: relative;
    background: #ffffff;
    width: 210px;
    height: 180px;
    border-radius: 9px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid #d9d9d9;
  }
  .customCard--long {
    position: relative;
    background: #ffffff;
    width: 200px;
    height: 348px;
    border-radius: 9px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid #d9d9d9;
  }
  
  .progressBar__single > div {
    top: -17px;
    position: absolute;
    right: 0;
  }
  .progressBar__single {
    height: 25% !important;
    top: 75% !important;
  }
  .h--25 div:nth-child(2) .progressBar__single > div > span {
    margin-left: 0 !important;
    margin-right: 10px !important;
  }
  .h--25 div:nth-child(2) .progressBar__single > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    left: 0;
    right: unset;
  }
  
  /* utils */
  .reversed {
    transform: rotateX(180deg);
    transform-origin: center center;
  }
  .h--25 {
    height: 25px !important;
  }
  .bg--blue {
    background: #0a65cd;
  }
  .border--white {
    border-color: white !important;
  }
  .borderBT--red {
    border-bottom-color: #f35242 !important;
    border-top-color: #f35242 !important;
  }

.keyword-table-container {
  position: relative;
  overflow: auto;
}

.keyword-table-container table, th, td {
  border: 1px solid #D9D9D9;
  border-collapse: collapse;
}
.keyword-table-container td {
  min-width: fit-content;
}

.keyword-table-container .chart-icon {
  width: 20px;
  height: 20px;
  background-image: url('./assets/img/ico/line_chart_ico.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transform: scale(1.1);
}
.keyword-table-container .chart-icon:hover {
  background-image: url('./assets/img/ico/line_chart_ico-hover.svg');
  transform: scale(1.2);
}
.keyword-table-container .chart-icon.need-blue {
  background-image: url('./assets/img/ico/line_chart_ico-hover.svg');
  transform: scale(1.2);
}

.keyword-table-container .chart-icon:hover {
  background-image: url('./assets/img/ico/line_chart_ico-hover.svg');
  transform: scale(1.2);
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: #fcfcfb;
}

.last-col {
  min-width: 140px;
  left: -2px;
}

/* WARNING MODAL */
.delete-warning-modal {
  width: 386px; 
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.delete-warning-modal .top-delete-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 118px;
  background-color: #F24939F2;
}

.delete-warning-modal .top-delete-warning > img {
  width: 60px;
}

.delete-warning-modal .bottom {
  width: 100%;
  text-align: center;
}

.show-copy  {
  position: absolute;
  opacity: 0;
  transition: opacity 200ms;
  pointer-events: none;
  background: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 1px solid 
}
.show-copy.show {
  opacity: 1;
}

.keyword-multi-select {
  border-left: 2px solid #D9D9D9;
  border-radius: 3px;
  outline: none;
}
.keyword-multi-select > div {
  border: none !important;
  box-shadow: none !important;
}
.keyword-multi-select svg {
  color: gray;
  scale: 1.2;
}

.main-body * {
  font-family: BYekan !important;
}

.scroll-bar-table::-webkit-scrollbar {
  height: 5px;
} 

.barChart-container{
  position: relative;
}
.barChart-container::before{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 40px;
  top: 0;
  background-color: white;
}

.note-label {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  background-color: #F2F5F7;
  border-radius: 3px;
  font-size: 12px;
}

.note-label .close-button{
  color: #F35242;
  scale: 1.2;
  cursor: pointer;
}

.disabled-combo {
  height: calc(100% - 1px); 
}

.chart-selected-box {
  width: 177px;
  height: 28px;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px 2px 8px
}
.chart-selected-box .left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.chart-selected-box .left span {
  color: #002145;
  font-size: 12px;
  font-family: "IRANSans", serif !important;
}
.chart-selected-box .left .color-picked {
  width: 6px;
  height: 24px;
  border-radius: 3px;
}
.chart-selected-box .clear-selected-box {
  color: #F35242;
  cursor: pointer;
}