
@tailwind base;
@tailwind components;
@tailwind utilities;

.ltr{
  direction: ltr;
}
body {
  margin: 0;
  direction: rtl;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
