.rankReport {
    padding: 20px;
}

.rankReport .rankReport__container {
    border: 2px solid #7D7D7D;
    width: 100%;
    border-radius: 9px;
    min-height: 65vh;
}

.rankReport .rankReport__container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D9D9D9;
    padding: 10px 28px;
}

.rankReport .rankReport__container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rankReport .rankReport__container .header .header__title{
    font-size: 1.1em;
}

.rankReport .rankReport__container .header .header__title > div{
    margin:  3px 0;
}

.rankReport .rankReport__container .header .header__logo {
    width: 64px;
}

.rankReport .rankReport__container .kv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .9em;
    margin: 15px 0;
}

.rankReport .rankReport__container .kv .kv__key{
    margin-left: 5px;
}

.rankReport .rankReport__container .kv .kv__value{
    color: #7D7D7D;
}

.rankReport .rankReport__container .rankReport__table .table__row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #D9D9D9;
    padding: 3px;
}

.rankReport .rankReport__container .rankReport__table .table__row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #D9D9D9;
    padding: 3px;
}

.rankReport .rankReport__actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

.rankReport .rankReport__actions .action{
    margin-right: 10px;
}

.rankReport .rankReport__actions .action img{
    margin:0 0 0 15px;
}
